<button (click)="displayTable()">Main Menu</button>
<h1 align="center"> {{ title }}</h1>
<h2 align="center"> Wine Count: {{wines.length}} </h2>

 <div id="listAllWines" *ngIf="!selected">
  <table class="table table-bordered table-striped table-primary">
    <thead class="thead">
      <tr align="center">
        <th>Name</th>
        <th>Country</th>
        <th>Region</th>
        <th>Grape</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
      <tr class="table-info" *ngFor="let wine of wines">
        <td (click)="displayWine(wine)" > {{ wine.name }}</td>
        <td>{{ wine.country }}</td>
        <td>{{ wine.region }}</td>
        <td>{{ wine.grape }}</td>
        <td>{{ wine.price }}</td>
        <td>
          <input type="submit" value="delete" (click)="deleteWine(wine.id)" />
        </td>
      </tr>
    </thead>
  </table>
</div>

<div id="createNewWine" *ngIf="!selected"></div>

<form #newWineForm="ngForm" *ngIf="!selected">
  <input type="text" name="name" placeholder="name" ngModel />
  <input type="text" name="country" placeholder="country" ngModel />
  <input type="text" name="region" placeholder="region" ngModel />
  <input type="text" name="grape" placeholder="grape" ngModel />
  <input type="text" name="price" placeholder="price" ngModel />
  <input type="submit" value="Add Wine" (click)="addNewWine(newWineForm)"/>
</form>

<div id="displayWineDetails" *ngIf="selected">
  <table class="table table-striped">
    <thead class="thead thead-light">
      <tr align="center">
        <th>Name:</th>
        <th>Country:</th>
        <th>Region:</th>
        <th>Grape:</th>
        <th>Price:</th>
      </tr>
      <tr align="center">
        <td>{{ selected.name }}</td>
        <td>{{ selected.country }}</td>
        <td>{{ selected.region }}</td>
        <td>{{ selected.grape }}</td>
        <td>{{ selected.price }}</td>
      </tr>
      <tr align="right">
          <button (click)="setEditWine()">Edit</button>
      </tr>
      <!-- <tr> -->
        <!-- <th align="right">
          <button (click)="displayTable()">Back</button>
        </th> -->
        <!-- <th align="right">
          <button (click)="setEditWine()">Edit</button>
        </th> -->
      <!-- </tr> -->
    </thead>
  </table>
</div>

<div id="editWine" *ngIf="editWine && selected">

  <form>
    <input type="text" name="editName" [(ngModel)]="editWine.name" placeholder="selected.name" />
    <input type="text" name="editCountry" [(ngModel)]="editWine.country" placeholder="selected.country" />
    <input type="text" name="editRegion" [(ngModel)]="editWine.region" placeholder="selected.region" />
    <input type="text" name="editGrape" [(ngModel)]="editWine.grape" placeholder="selected.grape" />
    <input type="text" name="editPrice" [(ngModel)]="editWine.price" placeholder="selected.price" />
    <!-- <button (click)="displayTable() = null">Cancel</button> -->
    <br>
    <button (click)="editWine = null">Cancel</button>
    <button (click)='updateWine()'>Save Edits</button>

  </form>
</div>
