body {
	background-image: url("photos/cavaCellar.jpg");
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	font-family: cursive;
	font-size: 22px;
	text-shadow: 1px 0px #000000;
	color: SlateGray;
} 

